<div class="panel panel-info">
      <div class="panel-heading">
            <% if hack.category == "Acquisition" %>
              <span class="label label-default">Acquisition</span>
            <% elsif hack.category == "Activation" %>
              <span class="label label-danger">Activation</span>
            <% elsif hack.category == "Retention" %>
              <span class="label label-success">Retention</span>
            <% elsif hack.category == "Referral" %>
              <span class="label label-warning">Referral</span>
            <% elsif hack.category == "Revenue" %>
              <span class="label label-info">Revenue</span>
            <% else %>
            <% end %>
      </div>
      <div class="panel-body text-center" id="inner"><h3><%= link_to hack.title, @hack %></h3></div>
      <div class="panel-footer text-center">Submitted by</div>
</div>