<div class="row">
  <div class="col-md-4">
  	<div class="panel">
  		<div class="panel-body">
  			<div class="row">
  				<div class="col-md-4"></div>
  				<div class="col-md-8">	
	  				<h3 class="text-center"><%= @user.username %></h3>
	  				<div class="text-center"><a class="twitter-follow-button" data-show-count="false" href="https://twitter.com/<%= @user.twitter_handle %>">Follow @<%= @user.twitter_handle %></a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></div>
	  			</div>
	  		</div>
	  		<br>	
	  		<p><%= @user.bio %></p>
	  	</div>
	  	<div class="panel-footer text-center">
			<button class="btn btn-success btn-lg" type ="button">Follow</button>
	  	</div>
  	</div>
  </div> 
  <div class="col-md-8">
  </div>  
</div>